@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {  
    --font-secondary: "Inter", sans-serif;
    --light: #eed5b9;
    --text-color: #3e3128;
    --accent: #e1af87;
    --background-color: #f4e6d5;
}

:root {
  --color--lightest: #f4e6d5;
  --color--darkest: #3e3128;
}

html {
  font-family: 'Inter', sans-serif;
  background-color: #f4e6d5;
  color: #3e3128;
  scroll-behavior: smooth;
}

